/* UI */
.axis path, .axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.timeLine {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 1;
  clip-path: url(#clip);
}


rect.dispArea {
  opacity: 0.0;
}


.candidateDot {
  clip-path: url(#clip);
}

.tgtLegend {
  font-weight: bold;
  fill: red;
}


.arc.home {
    fill: #FF1B1B;
   opacity: 0.4;
}

.arc.away {
    fill: #690025;
/*    fill: #831138;*/
   opacity: 0.5;
}


.node.homeNode {
  fill: black;
}
.node.awayNode {
  fill: #063A85;
}
.node.thingNode {
  fill: white;
}
.node.goalNode {
  fill: #FFF928;
}

.arc.tgt {
  opacity: 1;
  stroke-width: 2px;
}

/* slider */
.sliderAxis {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

.sliderAxis .domain {
  fill: none;
  stroke: #ddd;
  stroke-opacity: 1;
  stroke-width: 1px;
  stroke-linecap: round;
  cursor: pointer;
}


.slider .sliderHandle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1px;
  cursor: pointer;
}

.sliderRow {
  display: inline-block;
}
.sliderRow.tgtData {
  margin-bottom: 8px;
  vertical-align: middle;
}
















